body {
  margin: 0px;
  width: 435px;
  background: #fff;
  font-family: 'Poppins', 'Arial', 'Helvetica';
  background-image: url('img/header-shapes mobile.svg');
  background-repeat: repeat-y;
  background-position-y: 88px;
  background-size: 435px;
}

#main {
  display: flex;
  flex-direction: column;
}

#topbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #fff;
}

#logo {
  color: #6070ff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

#hero {
  margin-top: 75px;
  padding: 30px;
}

h1 {
  font-family: 'Poppins', 'Arial', 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

#connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

#social a {
  margin-right: 12px;
}
