body {
    margin: 0px;
    width: 375px;
    /*height: 5410px;*/
    background: #F7F7F9;
    font-family: 'Poppins';
    padding: 30px;
    background-image: url('img/header-shapes mobile.svg');
    /*background-attachment: fixed;*/
    background-repeat: repeat-y;
    background-position-y: 100px;
    background-size: 435px;
}

#main {
    /*position: relative;
    width: 375px;
    height: 5410px;*/
    display: flex;
    flex-direction: column;
    /*background: #F7F7F9;*/
    
}

#topbar {
    display: flex;
    justify-content: space-between;
    /*padding:12px;*/
}

#logo1 {
    /*padding: 10px;*/
    color: #6070FF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

#hamburger {
    /*padding: 10px*/
}

#content {
    margin-top: 100px;
    
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172B4D;
}

#connect {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;
    text-decoration:none;
}

#social a {
    margin-right: 12px;
}
